/*
Order in this file matters, last rules overrides first rules
but not if this interfere with some other rule
*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input,
textarea {
    font-size: 18px;
    width: 200px;
}

/*
The more specific rule wins over the more general rule
*/

input[type=submit] {
    width: auto;
}

label {
    font-size: 16px;
}

div#the-form {
    background-color: lightgrey;
}

#the-form input[type=submit] {
    background-color: green;
    color: white;
}

.product-list {
    font-size: small
}

.product-list li {
    list-style-type: none;
}

.product-info {
    border: 1px solid gray;
    display: inline-block;
    padding: 8px 2px;
    margin: 2px;
    width: 450px;
    border-radius: 5px;
    background-color: lightgray;
}

.product-info img {
    margin: 5px;
    float: left;
    border: 1px solid black;
    max-width: 150px;
}